<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934654599293-r8r30p38hsf90oa23unnt2jrj7m6ppla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934654599293-r8r30p38hsf90oa23unnt2jrj7m6ppla</string>
	<key>API_KEY</key>
	<string>AIzaSyCo8kLsrlcKVffxvQo3LyaasCMN6W2kzSk</string>
	<key>GCM_SENDER_ID</key>
	<string>934654599293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlinePhotoLibery</string>
	<key>PROJECT_ID</key>
	<string>online-photo-gallery-362bd</string>
	<key>STORAGE_BUCKET</key>
	<string>online-photo-gallery-362bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934654599293:ios:e833e99d796396aa661114</string>
</dict>
</plist>